body {
    background: lightgray;
}
.sub-item-link{
    text-decoration: none;
    color: purple;
}

.sub-item-link:visited{
    color: black;
}
.sub-item-link:hover{
    color: red;
}

.sub-item-link:active{
    color: orange;
}

.sub-item-link:focus{
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
}